/* create a class for composing a new tweet */
.new-tweet {
  display: flex;
  flex-direction: column;
}

/* Add footer section class */
.submitLine {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

/* Add bottom border for input field */
.inputField {
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom-style: solid;
  
}

/*Bold class */
.bold {
  font-weight: bold
}

/* Create a class for button with Bungee font and blue background */
.buttonStyle {
  background-color: blue;
  color: aliceblue;
}